*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div#container{
    background-color: rgb(255, 255, 255);
    height: 1900px;
}

/*-------- header ----------*/

header{
    width: 100%;
    margin: auto;
    background-color: rgba(191, 191, 191, 1);
    position:fixed; 
    z-index: 2;
}

#nav01{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr; 
    padding: 10px;
    justify-items: center;
}

#nav01 div#a a, div#b a{
    margin-left:10px ;
    margin-right: 10px ;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(110, 108, 108);
}

#nav02{
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-items: center;
    padding: 10px;
}

#nav02 div ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: stretch;
    gap: 20px;
    list-style: none;
}

#botao-search{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
}

#botao-search input{
    height:30px;
    width:40% ;
    border-radius: 0px 4px 4px 0px;
    border: none;
    justify-self: left; 
    padding: 10px;
}

#botao-search button{
    width: 10%;
    border-radius: 4px 0px 0px 4px;
    border: none;
    justify-self: end;
}





/* fim header */

/* ------inicio main------- */

#banners{
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-areas:"a a a a" "b b c c";
    gap: 10px;
}

#b1{
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    grid-area: a;
    margin-top: 100px;
}

#b1 div{
    width:70% ;
    height: auto;
    background-color: blue;
    margin: auto;
    border-radius: 10px;
    background-image:url(/img/coleção\ prada.png);
    background-size: cover;
}

#b1 div h2,#b1 div p {
    text-align: center;
    color: white;
}

#b2 {
    background-color: #f7f7f7;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: auto;
    grid-area: b;
    display: grid;
    border-radius: 0px 4px 4px 0px;
}

#b2 .background-image{
    width: 69%;
    height: 100%;
    background-color: rgb(38, 38, 38);
    justify-self: end;
    border-radius: 4px;
    background-image: url(/img/sapatoysl.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#b3{
    background-color: #f7f7f7;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 500px;
    grid-area: c;
    display: grid;
    border-radius: 4px 0px 0px 4px;
}

#b3 div{
    width: 69%;
    height: 100%;
    background-color: rgb(69, 69, 69);
    justify-self: start;
    border-radius: 4px;
    background-image: url(/img/Louis-Vuitton-Summer-2022-Capsule-Collection.jpg);
    background-position: center;
    background-size: cover;
}

#texto-inv{
    position: absolute;
    top: 495px;
    left: 300px;
    width: 33% !important;
    height: 460px !important;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: rgb(171, 171, 171,0.0) !important;
    backdrop-filter: blur(10px);
}

#b2 div:hover #texto-inv{
    opacity: 1;
}





#promo{
    font-size: 160px;
}

#botao-promo{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid white;
    background-color:rgb(128, 128, 128,0.5);
    color: white;
    cursor: pointer;
}

#produtos-grid{
    display: grid;
    height: auto;
    background-color: #ffffff;
    justify-items: center;
}

#produtos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    background-color: #ffffff;
    height: auto;
    width: 70%;
    border-radius: 10px;
}

#produtos div{
    border-radius: 10px;
    padding: 20px;
}

#produtos div img{
    border-radius: 20px;
    width: 100%;
    height: 65%;
}

#produtos div figcaption{
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 10px;
}

